/* poppins font for headings
font-family: 'Poppins', sans-serif; */
/* Montserrat font for paragraphs
font-family: 'Montserrat', sans-serif; */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: black;
    text-decoration: none;
    background-color: #f1f1e8;
    overflow: auto;
}

/* Starting of navigation bar */
.navigation {
    font-size: larger;
    font-weight: 300;
    text-align: center;
    position: relative;
    margin: 1% 2% 1% 2%;
}

a {
    margin: 0rem 1.5% 0rem 1.5%;
    font-style: normal;
    text-decoration: none;
    color: dimgrey;
}

a:hover {
    color: #b8c24e;
    text-decoration: none;
}

#nav_logo_round {
    width: 6rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

/* Ending of navigation bar */

/* Starting of landing page */



.landing-page {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: #1a1c20;
    position: initial;
    margin: auto;
}

.me {
    display: block;
    margin: auto;
    border-radius: 0.85rem;
    min-width: 140px;
    width: 20vw;
    max-width: 20rem;
    
}
.land-content {
    padding: 0 rem;
    margin-top: auto;
    margin-bottom: auto;
    display: inline;

}


/* End of landing page */

/* Display page */

.display-page {
    background-color: #1a1c20;
    padding: 0.5rem 0;
    margin: 5rem 0;
}

.display-page-1 {
    background-color: #373a40;
    color: #EEE;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem 0 0 1.5rem;
}

.display-page-2 {
    background-color: #b8c24e;
    color: #EEE;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem 0 0 1.5rem;
}

.dis-box-1 {
    width: 80%;
    height: 250px;
    border-radius: 21px 21px 0 0;
    background-color: #b8c24e;
}

.dis-box-2 {
    width: 80%;
    height: 250px;
    border-radius: 21px 21px 0 0
}

.display-5 {
    font-weight: 500;
}

.lead {
    font-weight: 300;
    font-size: medium;
}

/* starting lp3 */
.lp3 {
    margin: 0 0.5rem;
}

.quote {
    background-color: #ee6f57;
    color: #EEE;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: lighter;
    padding: 1.5rem;
    margin: 3rem 5vw;
    text-align: center;
    border-radius: 0.75rem;

}

h2 {
    font-size: x-large;
    font-weight: 200;
}

#yogaEmoji {
    position: absolute;
    /* top: 800px; */
    left: 70%;
    padding: 1rem 0;
}

/* starting of Lets talk */
.lets-talk h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    text-align: left;
    color: #ee6f57;
    margin: 3rem 2rem 1rem 2rem;
}

#follow-me {
    font-weight: 300;
    font-size: larger;
}

.icons {
    width: 1.85rem;
}

.icon-link {
    margin: 0 2rem 0 2rem;
}

h6 {
    position: relative;
    right: 1rem;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: small;
    text-align: center;
    padding: 1.5rem;
    color: #1a1c20;
}

/* ending of Lets talk */